/* .flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.flex {
  display: flex;
}
.ml-auto {
  margin-left: auto;
}
.opacity-80 {
  opacity: 0.8;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-bold {
  font-weight: 700;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.mt-1 {
  margin-top: 0.25rem;
}

.cursor-pointer {
  cursor: pointer;
}
.mt-6 {
  margin-top: 1.5rem;
}
.bg-cyan {
  background: #2399ee;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
* {
  box-sizing: border-box !important;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Source: https://gist.github.com/mfd/614e2e80a22b878bde63cb471cbe677e */
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("../../fonts/sanfranciscodisplay-ultralight-webfont.woff");
  font-display: swap;
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("../../fonts/sanfranciscodisplay-thin-webfont.woff");
  font-display: swap;
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("../../fonts/sanfranciscodisplay-regular-webfont.woff");
  font-display: swap;
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("../../fonts/sanfranciscodisplay-medium-webfont.woff");
  font-display: swap;
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("../../fonts/sanfranciscodisplay-semibold-webfont.woff");
  font-display: swap;
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("../../fonts/sanfranciscodisplay-bold-webfont.woff");
  font-display: swap;
}

body {
  font-family: "San Francisco";
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  background: #000000;
  color: #ffffff;
  position: relative;
}

* {
  box-sizing: border-box !important;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 36px;
  letter-spacing: 1.2px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 18px;
  letter-spacing: 1.2px;
}

.eyebrow {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 1.2px;
  text-transform: uppercase;

  color: #ffffff;

  opacity: 0.5;
}

blockquote {
  margin-top: 4rem;
  margin-bottom: 3rem;
  margin: 4rem 0.5rem 0.5rem 4rem;
  padding: 0px 2rem 3rem 3rem;
  position: relative;
}

blockquote::before {
  content: "\201C";
  position: absolute;
  top: 0px;
  left: -18px;
  font-size: 72px;
  color: #ffffff;
  font-family: Times;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

/* .quote::after {
  content: "\201D";
  position: absolute;
  bottom: 16px;
  right: -8px;
  font-size: 72px;
  color: #ffffff;
  font-family: Times;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
} */

blockquote span:last-of-type {
  color: #ffffff;
  display: block;
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.bg-cyan {
  background: #2399ee;
}
.bg-yellow {
  background: #eee623;
}

.connect {
  font-family: "San Francisco";
  font-weight: 700;
}
